In [1]:
import pandas as pd
import numpy as np
import datetime as dt

In [2]:
someday = dt.date(2010,1,20)

In [3]:
someday.year

2010

In [4]:
someday.month

1

In [5]:
someday.day

20

In [6]:
dt.datetime(2010,1,20)

datetime.datetime(2010, 1, 20, 0, 0)

In [7]:
dt.datetime(2010,1,20, 8,13,57)

datetime.datetime(2010, 1, 20, 8, 13, 57)

In [8]:
str(dt.datetime(2010,1,20, 8,13,57))

'2010-01-20 08:13:57'

In [9]:
#Timestamp object gives standard format of date and time

In [10]:
pd.Timestamp("2015-03-25")

Timestamp('2015-03-25 00:00:00')

In [15]:
dates = ["2015-03-25", "2015-03-26", "2015-03-27"]
dtIndex = pd.DatetimeIndex(dates)

In [16]:
values = [100, 200, 300]
pd.Series(data = values, index = dtIndex)

2015-03-25    100
2015-03-26    200
2015-03-27    300
dtype: int64

In [50]:
#pd.to_datetime(dates, errors = coerce)

In [21]:
pd.date_range( start = "2015-03-25", end = "2017-03-25", freq = "A")   #by year end

DatetimeIndex(['2015-12-31', '2016-12-31'], dtype='datetime64[ns]', freq='A-DEC')

In [22]:
pd.date_range( start = "2015-03-25", end = "2017-03-25", freq = "H")   #by HOUR

DatetimeIndex(['2015-03-25 00:00:00', '2015-03-25 01:00:00',
               '2015-03-25 02:00:00', '2015-03-25 03:00:00',
               '2015-03-25 04:00:00', '2015-03-25 05:00:00',
               '2015-03-25 06:00:00', '2015-03-25 07:00:00',
               '2015-03-25 08:00:00', '2015-03-25 09:00:00',
               ...
               '2017-03-24 15:00:00', '2017-03-24 16:00:00',
               '2017-03-24 17:00:00', '2017-03-24 18:00:00',
               '2017-03-24 19:00:00', '2017-03-24 20:00:00',
               '2017-03-24 21:00:00', '2017-03-24 22:00:00',
               '2017-03-24 23:00:00', '2017-03-25 00:00:00'],
              dtype='datetime64[ns]', length=17545, freq='H')

In [23]:
pd.date_range( start = "2015-03-25", end = "2017-03-25", freq = "D")   #by Day

DatetimeIndex(['2015-03-25', '2015-03-26', '2015-03-27', '2015-03-28',
               '2015-03-29', '2015-03-30', '2015-03-31', '2015-04-01',
               '2015-04-02', '2015-04-03',
               ...
               '2017-03-16', '2017-03-17', '2017-03-18', '2017-03-19',
               '2017-03-20', '2017-03-21', '2017-03-22', '2017-03-23',
               '2017-03-24', '2017-03-25'],
              dtype='datetime64[ns]', length=732, freq='D')

In [25]:
pd.date_range( start = "2015-03-25", end = "2017-03-25", freq = "w")   #by week

DatetimeIndex(['2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19',
               '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17',
               '2015-05-24', '2015-05-31',
               ...
               '2017-01-15', '2017-01-22', '2017-01-29', '2017-02-05',
               '2017-02-12', '2017-02-19', '2017-02-26', '2017-03-05',
               '2017-03-12', '2017-03-19'],
              dtype='datetime64[ns]', length=104, freq='W-SUN')

In [26]:
pd.date_range( start = "2015-03-25", end = "2017-03-25", freq = "W-SUN")   #by week

DatetimeIndex(['2015-03-29', '2015-04-05', '2015-04-12', '2015-04-19',
               '2015-04-26', '2015-05-03', '2015-05-10', '2015-05-17',
               '2015-05-24', '2015-05-31',
               ...
               '2017-01-15', '2017-01-22', '2017-01-29', '2017-02-05',
               '2017-02-12', '2017-02-19', '2017-02-26', '2017-03-05',
               '2017-03-12', '2017-03-19'],
              dtype='datetime64[ns]', length=104, freq='W-SUN')

In [28]:
pd.date_range( start = "2015-03-25", periods = 100, freq = "7H")   #by 7HOUR

DatetimeIndex(['2015-03-25 00:00:00', '2015-03-25 07:00:00',
               '2015-03-25 14:00:00', '2015-03-25 21:00:00',
               '2015-03-26 04:00:00', '2015-03-26 11:00:00',
               '2015-03-26 18:00:00', '2015-03-27 01:00:00',
               '2015-03-27 08:00:00', '2015-03-27 15:00:00',
               '2015-03-27 22:00:00', '2015-03-28 05:00:00',
               '2015-03-28 12:00:00', '2015-03-28 19:00:00',
               '2015-03-29 02:00:00', '2015-03-29 09:00:00',
               '2015-03-29 16:00:00', '2015-03-29 23:00:00',
               '2015-03-30 06:00:00', '2015-03-30 13:00:00',
               '2015-03-30 20:00:00', '2015-03-31 03:00:00',
               '2015-03-31 10:00:00', '2015-03-31 17:00:00',
               '2015-04-01 00:00:00', '2015-04-01 07:00:00',
               '2015-04-01 14:00:00', '2015-04-01 21:00:00',
               '2015-04-02 04:00:00', '2015-04-02 11:00:00',
               '2015-04-02 18:00:00', '2015-04-03 01:00:00',
               '2015-04-03 08:00:00', '2015-04-03 15:00:00',
               '2015-04-03 22:00:00', '2015-04-04 05:00:00',
               '2015-04-04 12:00:00', '2015-04-04 19:00:00',
               '2015-04-05 02:00:00', '2015-04-05 09:00:00',
               '2015-04-05 16:00:00', '2015-04-05 23:00:00',
               '2015-04-06 06:00:00', '2015-04-06 13:00:00',
               '2015-04-06 20:00:00', '2015-04-07 03:00:00',
               '2015-04-07 10:00:00', '2015-04-07 17:00:00',
               '2015-04-08 00:00:00', '2015-04-08 07:00:00',
               '2015-04-08 14:00:00', '2015-04-08 21:00:00',
               '2015-04-09 04:00:00', '2015-04-09 11:00:00',
               '2015-04-09 18:00:00', '2015-04-10 01:00:00',
               '2015-04-10 08:00:00', '2015-04-10 15:00:00',
               '2015-04-10 22:00:00', '2015-04-11 05:00:00',
               '2015-04-11 12:00:00', '2015-04-11 19:00:00',
               '2015-04-12 02:00:00', '2015-04-12 09:00:00',
               '2015-04-12 16:00:00', '2015-04-12 23:00:00',
               '2015-04-13 06:00:00', '2015-04-13 13:00:00',
               '2015-04-13 20:00:00', '2015-04-14 03:00:00',
               '2015-04-14 10:00:00', '2015-04-14 17:00:00',
               '2015-04-15 00:00:00', '2015-04-15 07:00:00',
               '2015-04-15 14:00:00', '2015-04-15 21:00:00',
               '2015-04-16 04:00:00', '2015-04-16 11:00:00',
               '2015-04-16 18:00:00', '2015-04-17 01:00:00',
               '2015-04-17 08:00:00', '2015-04-17 15:00:00',
               '2015-04-17 22:00:00', '2015-04-18 05:00:00',
               '2015-04-18 12:00:00', '2015-04-18 19:00:00',
               '2015-04-19 02:00:00', '2015-04-19 09:00:00',
               '2015-04-19 16:00:00', '2015-04-19 23:00:00',
               '2015-04-20 06:00:00', '2015-04-20 13:00:00',
               '2015-04-20 20:00:00', '2015-04-21 03:00:00',
               '2015-04-21 10:00:00', '2015-04-21 17:00:00',
               '2015-04-22 00:00:00', '2015-04-22 07:00:00',
               '2015-04-22 14:00:00', '2015-04-22 21:00:00'],
              dtype='datetime64[ns]', freq='7H')

In [30]:
bunch_of_dates = pd.date_range( start = "2015-03-25", periods = 100, freq = "24D")   #by 7HOUR
bunch_of_dates

DatetimeIndex(['2015-03-25', '2015-04-18', '2015-05-12', '2015-06-05',
               '2015-06-29', '2015-07-23', '2015-08-16', '2015-09-09',
               '2015-10-03', '2015-10-27', '2015-11-20', '2015-12-14',
               '2016-01-07', '2016-01-31', '2016-02-24', '2016-03-19',
               '2016-04-12', '2016-05-06', '2016-05-30', '2016-06-23',
               '2016-07-17', '2016-08-10', '2016-09-03', '2016-09-27',
               '2016-10-21', '2016-11-14', '2016-12-08', '2017-01-01',
               '2017-01-25', '2017-02-18', '2017-03-14', '2017-04-07',
               '2017-05-01', '2017-05-25', '2017-06-18', '2017-07-12',
               '2017-08-05', '2017-08-29', '2017-09-22', '2017-10-16',
               '2017-11-09', '2017-12-03', '2017-12-27', '2018-01-20',
               '2018-02-13', '2018-03-09', '2018-04-02', '2018-04-26',
               '2018-05-20', '2018-06-13', '2018-07-07', '2018-07-31',
               '2018-08-24', '2018-09-17', '2018-10-11', '2018-11-04',
               '2018-11-28', '2018-12-22', '2019-01-15', '2019-02-08',
               '2019-03-04', '2019-03-28', '2019-04-21', '2019-05-15',
               '2019-06-08', '2019-07-02', '2019-07-26', '2019-08-19',
               '2019-09-12', '2019-10-06', '2019-10-30', '2019-11-23',
               '2019-12-17', '2020-01-10', '2020-02-03', '2020-02-27',
               '2020-03-22', '2020-04-15', '2020-05-09', '2020-06-02',
               '2020-06-26', '2020-07-20', '2020-08-13', '2020-09-06',
               '2020-09-30', '2020-10-24', '2020-11-17', '2020-12-11',
               '2021-01-04', '2021-01-28', '2021-02-21', '2021-03-17',
               '2021-04-10', '2021-05-04', '2021-05-28', '2021-06-21',
               '2021-07-15', '2021-08-08', '2021-09-01', '2021-09-25'],
              dtype='datetime64[ns]', freq='24D')

In [32]:
s= pd.Series(bunch_of_dates)
s.head()

0   2015-03-25
1   2015-04-18
2   2015-05-12
3   2015-06-05
4   2015-06-29
dtype: datetime64[ns]

In [33]:
s.dt.day

0     25
1     18
2     12
3      5
4     29
5     23
6     16
7      9
8      3
9     27
10    20
11    14
12     7
13    31
14    24
15    19
16    12
17     6
18    30
19    23
20    17
21    10
22     3
23    27
24    21
25    14
26     8
27     1
28    25
29    18
      ..
70    30
71    23
72    17
73    10
74     3
75    27
76    22
77    15
78     9
79     2
80    26
81    20
82    13
83     6
84    30
85    24
86    17
87    11
88     4
89    28
90    21
91    17
92    10
93     4
94    28
95    21
96    15
97     8
98     1
99    25
Length: 100, dtype: int64

In [34]:
s.dt.month

0      3
1      4
2      5
3      6
4      6
5      7
6      8
7      9
8     10
9     10
10    11
11    12
12     1
13     1
14     2
15     3
16     4
17     5
18     5
19     6
20     7
21     8
22     9
23     9
24    10
25    11
26    12
27     1
28     1
29     2
      ..
70    10
71    11
72    12
73     1
74     2
75     2
76     3
77     4
78     5
79     6
80     6
81     7
82     8
83     9
84     9
85    10
86    11
87    12
88     1
89     1
90     2
91     3
92     4
93     5
94     5
95     6
96     7
97     8
98     9
99     9
Length: 100, dtype: int64

In [35]:
s.dt.weekday_name

0     Wednesday
1      Saturday
2       Tuesday
3        Friday
4        Monday
5      Thursday
6        Sunday
7     Wednesday
8      Saturday
9       Tuesday
10       Friday
11       Monday
12     Thursday
13       Sunday
14    Wednesday
15     Saturday
16      Tuesday
17       Friday
18       Monday
19     Thursday
20       Sunday
21    Wednesday
22     Saturday
23      Tuesday
24       Friday
25       Monday
26     Thursday
27       Sunday
28    Wednesday
29     Saturday
        ...
70    Wednesday
71     Saturday
72      Tuesday
73       Friday
74       Monday
75     Thursday
76       Sunday
77    Wednesday
78     Saturday
79      Tuesday
80       Friday
81       Monday
82     Thursday
83       Sunday
84    Wednesday
85     Saturday
86      Tuesday
87       Friday
88       Monday
89     Thursday
90       Sunday
91    Wednesday
92     Saturday
93      Tuesday
94       Friday
95       Monday
96     Thursday
97       Sunday
98    Wednesday
99     Saturday
Length: 100, dtype: object

In [36]:
s.dt.is_quarter_start
marks = s.dt.is_month_end
s[marks]

13   2016-01-31
51   2018-07-31
84   2020-09-30
dtype: datetime64[ns]

In [38]:
#vid 138 Install pandas_datereader library

In [52]:
# import pandas as pd
# import numpy as np
# import datetime as dt
import pandas_DataReader as web
#from pandas_datareader import data

ModuleNotFoundError: No module named 'pandas_DataReader'