In [1]:
import pandas as pd
import numpy as np

In [2]:
#https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html #

In [3]:
Pokemonz = pd.read_csv("pokemon.csv")
Pokemonz.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [4]:
dir(Pokemonz)

['Attack',
 'Defense',
 'Generation',
 'HP',
 'Legendary',
 'Name',
 'Speed',
 'T',
 '_AXIS_ALIASES',
 '_AXIS_IALIASES',
 '_AXIS_LEN',
 '_AXIS_NAMES',
 '_AXIS_NUMBERS',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_SLICEMAP',
 '__abs__',
 '__add__',
 '__and__',
 '__array__',
 '__array_priority__',
 '__array_wrap__',
 '__bool__',
 '__bytes__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__div__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdiv__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__unicode__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_add_numeric_operations',
 '_add_series_only_operations',
 '_add_series_or_dataframe_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_aggregate',
 '_aggregate_multiple_funcs',
 '_align_frame',
 '_align_series',
 '_box_col_values',
 '_box_item_values',
 '_builtin_table',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_percentile',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_combine_const',
 '_combine_frame',
 '_combine_match_columns',
 '_combine_match_index',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_dict_for_slice',
 '_construct_axes_dict_from',
 '_construct_axes_from_arguments',
 '_constructor',
 '_constructor_expanddim',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_create_indexer',
 '_cython_table',
 '_deprecations',
 '_dir_additions',
 '_dir_deletions',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_expand_axes',
 '_find_valid_index',
 '_from_arrays',
 '_from_axes',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cacher',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_get_values',
 '_getitem_bool_array',
 '_getitem_frame',
 '_getitem_multilevel',
 '_gotitem',
 '_iget_item_cache',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_internal_names',
 '_internal_names_set',
 '_is_builtin_func',
 '_is_cached',
 '_is_copy',
 '_is_cython_func',
 '_is_datelike_mixed_type',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_numeric_mixed_type',
 '_is_view',
 '_ix',
 '_ixs',
 '_join_compat',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_needs_reindex_multi',
 '_obj_with_exclusions',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_selected_obj',
 '_selection',
 '_selection_list',
 '_selection_name',
 '_series',
 '_set_as_cached',
 '_set_axis',
 '_set_axis_name',
 '_set_is_copy',
 '_set_item',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_setup_axes',
 '_shallow_copy',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_take',
 '_to_dict_of_blocks',
 '_try_aggregate_string_function',
 '_typ',
 '_unpickle_frame_compat',
 '_unpickle_matrix_compat',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 '_xs',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'as_matrix',
 'asfreq',
 'asof',
 'assign',
 'astype',
 'at',
 'at_time',
 'axes',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'clip_lower',
 'clip_upper',
 'columns',
 'combine',
 'combine_first',
 'compound',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'floordiv',
 'from_dict',
 'from_records',
 'ftypes',
 'ge',
 'get',
 'get_dtype_counts',
 'get_ftype_counts',
 'get_values',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'ix',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_axis',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'timetuple',
 'to_clipboard',
 'to_csv',
 'to_dense',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_msgpack',
 'to_numpy',
 'to_panel',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sparse',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tshift',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'values',
 'var',
 'where',
 'xs']

In [5]:
sorted(Pokemonz)

['#',
 'Attack',
 'Defense',
 'Generation',
 'HP',
 'Legendary',
 'Name',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Type 1',
 'Type 2']

In [6]:
list(Pokemonz)

['#',
 'Name',
 'Type 1',
 'Type 2',
 'HP',
 'Attack',
 'Defense',
 'Sp. Atk',
 'Sp. Def',
 'Speed',
 'Generation',
 'Legendary']

In [7]:
max(Pokemonz)

'Type 2'

In [8]:
min(Pokemonz)

'#'

In [9]:
Pokemonz.index

RangeIndex(start=0, stop=800, step=1)

In [10]:
Pokemonz.ndim

2

In [11]:
Pokemonz.shape

(800, 12)

In [12]:
Pokemonz.size

9600

In [13]:
Pokemonz.values

array([[1, 'Bulbasaur', 'Grass', ..., 45, 1, False],
       [2, 'Ivysaur', 'Grass', ..., 60, 1, False],
       [3, 'Venusaur', 'Grass', ..., 80, 1, False],
       ...,
       [798, 'Hoopa Confined', 'Psychic', ..., 70, 6, True],
       [799, 'Hoopa Unbound', 'Psychic', ..., 80, 6, True],
       [800, 'Volcanion', 'Fire', ..., 70, 6, True]], dtype=object)

In [14]:
Pokemonz.dtypes

#              int64
Name          object
Type 1        object
Type 2        object
HP             int64
Attack         int64
Defense        int64
Sp. Atk        int64
Sp. Def        int64
Speed          int64
Generation     int64
Legendary       bool
dtype: object

In [15]:
Pokemon = pd.read_csv("pokemon.csv", usecols = ['Name', 'Type 1'], squeeze = True)

In [16]:
Pokemon.head()

            Name Type 1
0      Bulbasaur  Grass
1        Ivysaur  Grass
2       Venusaur  Grass
3  Mega Venusaur  Grass
4     Charmander   Fire

In [17]:
Pokemon.Name.is_unique

True

In [18]:
Pokemon.max

<bound method DataFrame.max of                        Name    Type 1
0                 Bulbasaur     Grass
1                   Ivysaur     Grass
2                  Venusaur     Grass
3             Mega Venusaur     Grass
4                Charmander      Fire
5                Charmeleon      Fire
6                 Charizard      Fire
7          Mega Charizard X      Fire
8          Mega Charizard Y      Fire
9                  Squirtle     Water
10                Wartortle     Water
11                Blastoise     Water
12           Mega Blastoise     Water
13                 Caterpie       Bug
14                  Metapod       Bug
15               Butterfree       Bug
16                   Weedle       Bug
17                   Kakuna       Bug
18                 Beedrill       Bug
19            Mega Beedrill       Bug
20                   Pidgey    Normal
21                Pidgeotto    Normal
22                  Pidgeot    Normal
23             Mega Pidgeot    Normal
24                  Rattata    Normal
25                 Raticate    Normal
26                  Spearow    Normal
27                   Fearow    Normal
28                    Ekans    Poison
29                    Arbok    Poison
..                      ...       ...
770                 Sylveon     Fairy
771                Hawlucha  Fighting
772                 Dedenne  Electric
773                 Carbink      Rock
774                   Goomy    Dragon
775                 Sliggoo    Dragon
776                  Goodra    Dragon
777                  Klefki     Steel
778                Phantump     Ghost
779               Trevenant     Ghost
780  Pumpkaboo Average Size     Ghost
781    Pumpkaboo Small Size     Ghost
782    Pumpkaboo Large Size     Ghost
783    Pumpkaboo Super Size     Ghost
784  Gourgeist Average Size     Ghost
785    Gourgeist Small Size     Ghost
786    Gourgeist Large Size     Ghost
787    Gourgeist Super Size     Ghost
788                Bergmite       Ice
789                 Avalugg       Ice
790                  Noibat    Flying
791                 Noivern    Flying
792                 Xerneas     Fairy
793                 Yveltal      Dark
794      Zygarde Half Forme    Dragon
795                 Diancie      Rock
796            Mega Diancie      Rock
797          Hoopa Confined   Psychic
798           Hoopa Unbound   Psychic
799               Volcanion      Fire

[800 rows x 2 columns]>

In [19]:
Pokemon.Name.sort_values()

510                 Abomasnow
68                       Abra
392                     Absol
678                  Accelgor
750     Aegislash Blade Forme
751    Aegislash Shield Forme
153                Aerodactyl
332                    Aggron
205                     Aipom
70                   Alakazam
655                 Alomomola
365                   Altaria
768                    Amaura
471                   Ambipom
652                 Amoonguss
195                  Ampharos
379                   Anorith
29                      Arbok
64                   Arcanine
552                    Arceus
627                    Archen
628                  Archeops
182                   Ariados
380                   Armaldo
753                Aromatisse
330                      Aron
156                  Articuno
590                    Audino
769                   Aurorus
789                   Avalugg
                ...
604                Whirlipede
372                  Whiscash
317                   Whismur
45                 Wigglytuff
301                   Wingull
217                 Wobbuffet
586                    Woobat
209                    Wooper
458      Wormadam Plant Cloak
459      Wormadam Sandy Cloak
460      Wormadam Trash Cloak
288                   Wurmple
394                    Wynaut
192                      Xatu
792                   Xerneas
623                    Yamask
208                     Yanma
520                   Yanmega
793                   Yveltal
367                  Zangoose
157                    Zapdos
582                 Zebstrika
707                    Zekrom
286                 Zigzagoon
632                   Zoroark
631                     Zorua
46                      Zubat
695                  Zweilous
794        Zygarde Half Forme
62                        NaN
Name: Name, Length: 800, dtype: object

In [20]:
Pokemon.Name.sort_values(ascending = False).head()    #sorts in descending order

794    Zygarde Half Forme
695              Zweilous
46                  Zubat
631                 Zorua
632               Zoroark
Name: Name, dtype: object

In [21]:
Pokemonz.Name.head()

0        Bulbasaur
1          Ivysaur
2         Venusaur
3    Mega Venusaur
4       Charmander
Name: Name, dtype: object

In [22]:
## Pokemon.sort_values(ascending = False, inplace = True)

###### Pokemon.head()     #inplace = True permanantly modifies operations in Pokemon

In [23]:
Pokemonz.sort_index().head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,4,Mega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,5,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [24]:
Pokemonz.sort_index(ascending= False).head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True

In [25]:
Pokemonz.sort_index(ascending= False).head()      #inplace = True permanantly modifies operations in Pokemon

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
799,800,Volcanion,Fire,Water,80,110,120,130,90,70,6,True
798,799,Hoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
797,798,Hoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
796,797,Mega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
795,796,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True

In [26]:
100 in Pokemonz.index

True

In [27]:
"Pikachu" in Pokemonz.values

True

In [28]:
## Extract series values by index position

Pokemonz.Name[50]

'Vileplume'

In [29]:
Pokemonz.Name[[10,30,50]]

10    Wartortle
30      Pikachu
50    Vileplume
Name: Name, dtype: object

In [30]:
Pokemonz.Name[30:51]       #Shows 30 to 50 only not 51

30       Pikachu
31        Raichu
32     Sandshrew
33     Sandslash
34      Nidoran♀
35      Nidorina
36     Nidoqueen
37      Nidoran♂
38      Nidorino
39      Nidoking
40      Clefairy
41      Clefable
42        Vulpix
43     Ninetales
44    Jigglypuff
45    Wigglytuff
46         Zubat
47        Golbat
48        Oddish
49         Gloom
50     Vileplume
Name: Name, dtype: object

In [31]:
Pokemonz.Name[:11]

0            Bulbasaur
1              Ivysaur
2             Venusaur
3        Mega Venusaur
4           Charmander
5           Charmeleon
6            Charizard
7     Mega Charizard X
8     Mega Charizard Y
9             Squirtle
10           Wartortle
Name: Name, dtype: object

In [32]:
Pokemonz.Name[-11:]

789               Avalugg
790                Noibat
791               Noivern
792               Xerneas
793               Yveltal
794    Zygarde Half Forme
795               Diancie
796          Mega Diancie
797        Hoopa Confined
798         Hoopa Unbound
799             Volcanion
Name: Name, dtype: object

In [33]:
Pokemonz.Name[-11:-5]

789               Avalugg
790                Noibat
791               Noivern
792               Xerneas
793               Yveltal
794    Zygarde Half Forme
Name: Name, dtype: object

In [34]:
Pokemonx =pd.read_csv("pokemon.csv", index_col= 'Name', squeeze = True)
Pokemonx.head()

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False

In [35]:
Pokemonx["Bulbasaur" : "Squirtle"]

,#,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,1,Grass,Poison,45,49,49,65,65,45,1,False
Ivysaur,2,Grass,Poison,60,62,63,80,80,60,1,False
Venusaur,3,Grass,Poison,80,82,83,100,100,80,1,False
Mega Venusaur,4,Grass,Poison,80,100,123,122,120,80,1,False
Charmander,5,Fire,NaN,39,52,43,60,50,65,1,False
Charmeleon,6,Fire,NaN,58,64,58,80,65,80,1,False
Charizard,7,Fire,Flying,78,84,78,109,85,100,1,False
Mega Charizard X,8,Fire,Dragon,78,130,111,130,85,100,1,False
Mega Charizard Y,9,Fire,Flying,78,104,78,159,115,100,1,False
Squirtle,10,Water,NaN,44,48,65,50,64,43,1,False

In [36]:
##The.get() method   Vid 38 pending

In [53]:
Pokemon.dtypes

Name      object
Type 1    object
dtype: object

In [62]:
Pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Ground       32
Ghost        32
Dragon       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [65]:
Pokemonx['Type 2'].value_counts(ascending = True)

Bug          3
Normal       4
Electric     6
Fire        12
Ice         14
Ghost       14
Rock        14
Water       14
Dragon      18
Dark        20
Steel       22
Fairy       23
Grass       25
Fighting    26
Psychic     33
Poison      34
Ground      35
Flying      97
Name: Type 2, dtype: int64