In [1]:
import pandas as pd
import numpy as np

In [2]:
bond = pd.read_csv("James_Bond_007_Movie_Data.csv")
bond.set_index('Film', inplace = True)
bond.head(1)

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Golden Globe wins,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said"
Film,,,,,,,,,,,,,,,,,,,,,
Dr. No,1962,NaN,Sean Connery,1,4,8,12,448.8,59.5,7.0,...,1,0,0,11.5,3,Sunbeam,110,October,PG,1

In [5]:
def convert_to_string_and_add_millions(number):
    return str(number) + "  millions!"

bond["Adjusted box office"].apply(convert_to_string_and_add_millions)

Film
Dr. No                             448.8  millions!
From Russia With Love              543.8  millions!
Goldfinger                         820.4  millions!
Thunderball                        848.1  millions!
You Only Live Twice                514.2  millions!
On Her Majesty's Secret Service    291.5  millions!
Diamonds Are Forever               442.5  millions!
Live and Let Die                   460.3  millions!
The Man with the Golden Gun        334.0  millions!
The Spy Who Loved Me               533.0  millions!
Moonraker                          535.0  millions!
For Your Eyes Only                 449.4  millions!
Octopussy                          373.8  millions!
A View to a Kill                   275.2  millions!
The Living Daylights               313.5  millions!
Licence to Kill                    250.9  millions!
GoldenEye                          518.5  millions!
Tomorrow Never Dies                463.2  millions!
The World is Not Enough            439.5  millions!
Die Another Day                    465.4  millions!
Casino Royale                      581.5  millions!
Quantum of Solace                  514.2  millions!
Skyfall                            879.8  millions!
Name: Adjusted box office, dtype: object

In [8]:
columns = ["Adjusted box office", "Actual box office", "Adjusted budget"]
for col in columns :
    bond[col] = bond[col].apply(convert_to_string_and_add_millions)

In [17]:
bond.head(10)

,Year,Years lapse,Bond actor,Bond actor appearance,Villians Dispatched,Others' Dispatched,Total Dispatched,Adjusted box office,Actual box office,Adjusted budget,...,Golden Globe wins,Academy Award nominations,Academy Award wins,Number of Bond drinks,Bond girls,Bond car make,Runtime minutes,Month released,Rating,"Bond, James Bond said"
Film,,,,,,,,,,,,,,,,,,,,,
Dr. No,1962,NaN,Sean Connery,1,4,8,12,448.8 millions!,59.5 millions!,7.0 millions!,...,1,0,0,11.5,3,Sunbeam,110,October,PG,1
From Russia With Love,1963,1.0,Sean Connery,2,11,16,27,543.8 millions!,78.9 millions!,12.6 millions!,...,0,0,0,16.0,3,Bentley,115,April,PG,0
Goldfinger,1964,1.0,Sean Connery,3,9,68,77,820.4 millions!,124.9 millions!,18.6 millions!,...,0,1,1,12.0,5,Aston Martin,110,September,PG,1
Thunderball,1965,1.0,Sean Connery,4,20,90,110,848.1 millions!,141.2 millions!,41.9 millions!,...,0,1,1,14.5,5,Lincoln,130,December,PG,0
You Only Live Twice,1967,2.0,Sean Connery,5,21,175,196,514.2 millions!,101.0 millions!,59.9 millions!,...,0,0,0,9.5,4,Toyota,117,June,PG,0
On Her Majesty's Secret Service,1969,2.0,George Lazenby,1,5,37,42,291.5 millions!,64.6 millions!,37.3 millions!,...,0,0,0,9.5,3,Aston Martin,142,December,PG,2
Diamonds Are Forever,1971,2.0,Sean Connery,6,7,42,49,442.5 millions!,116.0 millions!,34.7 millions!,...,0,1,0,6.0,5,Ford,120,December,PG,1
Live and Let Die,1973,2.0,Roger Moore,1,8,5,13,460.3 millions!,126.4 millions!,30.8 millions!,...,0,1,0,15.5,3,Chevrolet,121,June,PG,1
The Man with the Golden Gun,1974,1.0,Roger Moore,2,1,5,6,334.0 millions!,98.5 millions!,27.7 millions!,...,0,0,0,11.5,4,AMC,125,December,PG,2
The Spy Who Loved Me,1977,3.0,Roger Moore,3,31,116,147,533.0 millions!,185.4 millions!,45.1 millions!,...,0,3,0,7.0,3,Lotus,125,July,PG,1

In [10]:
# apply with rows

In [16]:
bond.columns

Index(['Year', 'Years lapse', 'Bond actor', 'Bond actor appearance',
       'Villians Dispatched', 'Others' Dispatched', 'Total Dispatched',
       'Adjusted box office', 'Actual box office', 'Adjusted budget',
       'Actual budget', 'Director', 'Rotten Tomatoes critic score',
       'Rotten Tomatoes audience score', 'Golden Globe nominations',
       'Golden Globe wins', 'Academy Award nominations', 'Academy Award wins',
       'Number of Bond drinks', 'Bond girls', 'Bond car make',
       'Runtime minutes', 'Month released', 'Rating', 'Bond, James Bond said'],
      dtype='object')

In [28]:
def good_movie(row):
    actor = row[2]
    budget = row[10]
    
    if actor == "Sean Connery":
        return "The best"
    elif actor == "Roger Moore" and budget > 450:
        return "Enjoyable"
    else:
        return "I have no clue"
bond.apply(good_movie, axis = "columns")

Film
Dr. No                                   The best
From Russia With Love                    The best
Goldfinger                               The best
Thunderball                              The best
You Only Live Twice                      The best
On Her Majesty's Secret Service    I have no clue
Diamonds Are Forever                     The best
Live and Let Die                   I have no clue
The Man with the Golden Gun        I have no clue
The Spy Who Loved Me               I have no clue
Moonraker                          I have no clue
For Your Eyes Only                 I have no clue
Octopussy                          I have no clue
A View to a Kill                   I have no clue
The Living Daylights               I have no clue
Licence to Kill                    I have no clue
GoldenEye                          I have no clue
Tomorrow Never Dies                I have no clue
The World is Not Enough            I have no clue
Die Another Day                    I have no clue
Casino Royale                      I have no clue
Quantum of Solace                  I have no clue
Skyfall                            I have no clue
dtype: object

In [30]:
directors = bond["Director"]

In [32]:
directors["A View to a Kill"] = "Mister John Glan"

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [34]:
directors

Film
Dr. No                                  Terence Young
From Russia With Love                   Terence Young
Goldfinger                               Guy Hamilton
Thunderball                             Terence Young
You Only Live Twice                     Lewis Gilbert
On Her Majesty's Secret Service         Peter R. Hunt
Diamonds Are Forever                     Guy Hamilton
Live and Let Die                         Guy Hamilton
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
Moonraker                               Lewis Gilbert
For Your Eyes Only                          John Glen
Octopussy                                   John Glen
A View to a Kill                     Mister John Glan
The Living Daylights                        John Glen
Licence to Kill                             John Glen
GoldenEye                             Martin Campbell
Tomorrow Never Dies                Roger Spottiswoode
The World is Not Enough                 Michael Apted
Die Another Day                          Lee Tamahori
Casino Royale                         Martin Campbell
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Name: Director, dtype: object

In [35]:
director = bond["Director"].copy()

In [36]:
director["A View to a Kill"] = "Mister John Glan"

In [37]:
director

Film
Dr. No                                  Terence Young
From Russia With Love                   Terence Young
Goldfinger                               Guy Hamilton
Thunderball                             Terence Young
You Only Live Twice                     Lewis Gilbert
On Her Majesty's Secret Service         Peter R. Hunt
Diamonds Are Forever                     Guy Hamilton
Live and Let Die                         Guy Hamilton
The Man with the Golden Gun              Guy Hamilton
The Spy Who Loved Me                    Lewis Gilbert
Moonraker                               Lewis Gilbert
For Your Eyes Only                          John Glen
Octopussy                                   John Glen
A View to a Kill                     Mister John Glan
The Living Daylights                        John Glen
Licence to Kill                             John Glen
GoldenEye                             Martin Campbell
Tomorrow Never Dies                Roger Spottiswoode
The World is Not Enough                 Michael Apted
Die Another Day                          Lee Tamahori
Casino Royale                         Martin Campbell
Quantum of Solace                        Marc Forster
Skyfall                                    Sam Mendes
Name: Director, dtype: object

In [38]:
"HELLO WORLD".lower()

'hello world'

In [39]:
"hello world".upper()

'HELLO WORLD'

In [40]:
"hello world".title()

'Hello World'

In [41]:
len("hello world")

11

In [42]:
# The.str.replace() method

In [43]:
"hello world".replace("l","1")

'he11o wor1d'

In [45]:
"hello world".rstrip()

'hello world'

In [46]:
"hello world".strip()

'hello world'