In [2]:
import pandas as pd
import numpy as np

In [8]:
bigmac = pd.read_csv("bigmacsourcedata.csv", parse_dates = ["date"])
#bigmac.set_index('Name', inplace = True)
#chicago.head()

In [11]:
bigmac.set_index( keys = "date").head()

                 name iso_a3 currency_code  local_price  dollar_ex  GDP_dollar
date
2000-04-01  Argentina    ARG           ARS         2.50   1.000000         NaN
2000-04-01  Australia    AUS           AUD         2.59   1.680000         NaN
2000-04-01     Brazil    BRA           BRL         2.95   1.790000         NaN
2000-04-01    Britain    GBR           GBP         1.90   0.632911         NaN
2000-04-01     Canada    CAN           CAD         2.85   1.470000         NaN

In [23]:
bigmac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1442 entries, 0 to 1441
Data columns (total 7 columns):
name             1442 non-null object
iso_a3           1442 non-null object
currency_code    1442 non-null object
local_price      1442 non-null float64
dollar_ex        1442 non-null float64
GDP_dollar       829 non-null float64
date             1442 non-null datetime64[ns]
dtypes: datetime64[ns](1), float64(3), object(3)
memory usage: 78.9+ KB

In [24]:
bigmac.set_index( keys = ["date", "name"], inplace = True)

In [25]:
bigmac.index

MultiIndex(levels=[[2000-04-01 00:00:00, 2001-04-01 00:00:00, 2002-04-01 00:00:00, 2003-04-01 00:00:00, 2004-05-01 00:00:00, 2005-06-01 00:00:00, 2006-01-01 00:00:00, 2006-05-01 00:00:00, 2007-01-01 00:00:00, 2007-06-01 00:00:00, 2008-06-01 00:00:00, 2009-07-01 00:00:00, 2010-01-01 00:00:00, 2010-07-01 00:00:00, 2011-07-01 00:00:00, 2012-01-01 00:00:00, 2012-07-01 00:00:00, 2013-01-01 00:00:00, 2013-07-01 00:00:00, 2014-01-01 00:00:00, 2014-07-01 00:00:00, 2015-01-01 00:00:00, 2015-07-01 00:00:00, 2016-01-01 00:00:00, 2016-07-01 00:00:00, 2017-01-01 00:00:00, 2017-07-01 00:00:00, 2018-01-01 00:00:00, 2018-07-01 00:00:00, 2019-01-01 00:00:00], ['Argentina', 'Australia', 'Austria', 'Azerbaijan', 'Bahrain', 'Belgium', 'Brazil', 'Britain', 'Canada', 'Chile', 'China', 'Colombia', 'Costa Rica', 'Croatia', 'Czech Republic', 'Denmark', 'Egypt', 'Estonia', 'Euro area', 'Finland', 'France', 'Germany', 'Greece', 'Guatemala', 'Honduras', 'Hong Kong', 'Hungary', 'India', 'Indonesia', 'Ireland', 'Israel', 'Italy', 'Japan', 'Jordan', 'Kuwait', 'Latvia', 'Lebanon', 'Lithuania', 'Malaysia', 'Mexico', 'Moldova', 'Netherlands', 'New Zealand', 'Nicaragua', 'Norway', 'Oman', 'Pakistan', 'Peru', 'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia', 'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia', 'South Africa', 'South Korea', 'Spain', 'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine', 'United Arab Emirates', 'United States', 'Uruguay', 'Venezuela', 'Vietnam']],
           codes=[[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 6, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 7, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 8, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 9, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 10, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 11, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 12, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 13, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 14, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 15, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 16, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 17, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 18, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 19, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 20, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 22, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 23, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 24, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 25, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 26, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 27, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 28, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29, 29], [0, 1, 6, 7, 8, 9, 10, 14, 15, 18, 25, 26, 28, 30, 32, 38, 39, 42, 49, 53, 55, 58, 59, 62, 63, 64, 65, 70, 0, 1, 6, 7, 8, 9, 10, 14, 15, 18, 25, 26, 28, 32, 38, 39, 42, 48, 49, 53, 55, 58, 59, 62, 63, 64, 65, 70, 0, 1, 6, 7, 8, 9, 10, 14, 15, 18, 25, 26, 28, 30, 32, 38, 39, 42, 44, 47, 48, 49, 53, 55, 58, 59, 62, 63, 64, 65, 66, 70, 72, 0, 1, 6, 7, 8, 9, 10, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 47, 48, 49, 53, 55, 58, 59, 62, 63, 64, 65, 66, 70, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 68, 70, 71, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 6, 7, 8, 9, 10, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 47, 48, 49, 53, 55, 58, 59, 62, 63, 64, 65, 66, 70, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 30, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 30, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 0, 1, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 18, 25, 26, 28, 30, 32, 38, 39, 42, 44, 46, 47, 48, 49, 53, 54, 55, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 37, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 0, 1, 2, 5, 6, 7, 8, 9, 10, 11, 12, 14, 15, 16, 17, 18, 19, 20, 21, 22, 25, 26, 27, 28, 29, 30, 31, 32, 38, 39, 41, 42, 44, 46, 47, 48, 49, 50, 53, 54, 55, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 70, 71, 72, 73, 69, 0, 1, 2, 3, 5, 4, 6, 8, 63, 9, 10, 11, 12, 14, 21, 15, 16, 60, 17, 18, 19, 20, 7, 22, 23, 25, 24, 13, 26, 28, 27, 29, 30, 31, 33, 32, 59, 34, 36, 61, 37, 35, 40, 39, 38, 43, 41, 44, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 62, 65, 66, 64, 68, 71, 70, 73, 58, 69, 0, 1, 2, 3, 5, 4, 6, 8, 63, 9, 10, 11, 12, 14, 21, 15, 16, 60, 17, 18, 19, 20, 7, 22, 23, 25, 24, 13, 26, 28, 27, 29, 30, 31, 33, 32, 59, 34, 36, 61, 37, 35, 40, 39, 38, 43, 41, 44, 42, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 62, 65, 66, 64, 68, 71, 70, 73, 58]],
           names=['date', 'name'])

In [26]:
type(bigmac.index)

pandas.core.indexes.multi.MultiIndex

In [29]:
bigmac.index[23]

(Timestamp('2000-04-01 00:00:00'), 'Sweden')

In [31]:
bigmac.index.get_level_values(1)

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Czech Republic', 'Denmark', 'Euro area',
       ...
       'Slovenia', 'Sweden', 'Thailand', 'Turkey', 'Taiwan', 'Ukraine',
       'Uruguay', 'United States', 'Vietnam', 'South Africa'],
      dtype='object', name='name', length=1442)

In [32]:
bigmac.index.get_level_values("date")

DatetimeIndex(['2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01', '2000-04-01', '2000-04-01',
               '2000-04-01', '2000-04-01',
               ...
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01', '2019-01-01', '2019-01-01',
               '2019-01-01', '2019-01-01'],
              dtype='datetime64[ns]', name='date', length=1442, freq=None)

In [33]:
bigmac.sort_index(ascending = True)

                                iso_a3 currency_code  local_price  \
date       name
2000-04-01 Argentina               ARG           ARS         2.50
           Australia               AUS           AUD         2.59
           Brazil                  BRA           BRL         2.95
           Britain                 GBR           GBP         1.90
           Canada                  CAN           CAD         2.85
           Chile                   CHL           CLP      1260.00
           China                   CHN           CNY         9.90
           Czech Republic          CZE           CZK        54.37
           Denmark                 DNK           DKK        24.75
           Euro area               EUZ           EUR         2.56
           Hong Kong               HKG           HKD        10.20
           Hungary                 HUN           HUF       339.00
           Indonesia               IDN           IDR     14500.00
           Israel                  ISR           ILS        14.50
           Japan                   JPN           JPY       294.00
           Malaysia                MYS           MYR         4.52
           Mexico                  MEX           MXN        20.90
           New Zealand             NZL           NZD         3.40
           Poland                  POL           PLN         5.50
           Russia                  RUS           RUB        39.50
           Singapore               SGP           SGD         3.20
           South Africa            ZAF           ZAR         9.00
           South Korea             KOR           KRW      3000.00
           Sweden                  SWE           SEK        24.00
           Switzerland             CHE           CHF         5.90
           Taiwan                  TWN           TWD        70.00
           Thailand                THA           THB        55.00
           United States           USA           USD         2.51
2001-04-01 Argentina               ARG           ARS         2.50
           Australia               AUS           AUD         3.00
...                                ...           ...          ...
2019-01-01 New Zealand             NZL           NZD         6.20
           Nicaragua               NIC           NIO       103.00
           Norway                  NOR           NOK        50.00
           Oman                    OMN           OMR         1.05
           Pakistan                PAK           PKR       460.00
           Peru                    PER           PEN        10.50
           Philippines             PHL           PHP       140.00
           Poland                  POL           PLN        10.50
           Portugal                PRT           EUR         3.25
           Qatar                   QAT           QAR        12.00
           Romania                 ROU           RON         9.30
           Russia                  RUS           RUB       110.17
           Saudi Arabia            SAU           SAR        12.00
           Singapore               SGP           SGD         5.80
           Slovakia                SVK           EUR         3.20
           Slovenia                SVN           EUR         2.30
           South Africa            ZAF           ZAR        31.00
           South Korea             KOR           KRW      4500.00
           Spain                   ESP           EUR         3.95
           Sri Lanka               LKA           LKR       580.00
           Sweden                  SWE           SEK        52.00
           Switzerland             CHE           CHF         6.50
           Taiwan                  TWN           TWD        69.00
           Thailand                THA           THB       119.00
           Turkey                  TUR           TRY        10.75
           Ukraine                 UKR           UAH        54.00
           United Arab Emirates    ARE           AED        14.00
           United States           USA           USD         5.58
           Uruguay                 URY           UYU       140.00
           Vietnam                 VNM           VND     65000.00

                                    dollar_ex  GDP_dollar
date       name
2000-04-01 Argentina                 1.000000         NaN
           Australia                 1.680000         NaN
           Brazil                    1.790000         NaN
           Britain                   0.632911         NaN
           Canada                    1.470000         NaN
           Chile                   514.000000         NaN
           China                     8.280000         NaN
           Czech Republic           39.100000         NaN
           Denmark                   8.040000         NaN
           Euro area                 1.075269         NaN
           Hong Kong                 7.790000         NaN
           Hungary                 279.000000         NaN
           Indonesia              7945.000000         NaN
           Israel                    4.050000         NaN
           Japan                   106.000000         NaN
           Malaysia                  3.800000         NaN
           Mexico                    9.410000         NaN
           New Zealand               2.010000         NaN
           Poland                    4.300000         NaN
           Russia                   28.500000         NaN
           Singapore                 1.700000         NaN
           South Africa              6.720000         NaN
           South Korea            1108.000000         NaN
           Sweden                    8.840000         NaN
           Switzerland               1.700000         NaN
           Taiwan                   30.600000         NaN
           Thailand                 38.000000         NaN
           United States             1.000000         NaN
2001-04-01 Argentina                 1.000000         NaN
           Australia                 1.980000         NaN
...                                       ...         ...
2019-01-01 New Zealand               1.479290   41572.269
           Nicaragua                32.360700    2220.676
           Norway                    8.532900   75389.460
           Oman                      0.384900   17128.372
           Pakistan                138.880000    1545.938
           Peru                      3.348500    6731.851
           Philippines              52.392500    2988.897
           Poland                    3.748450   13821.233
           Portugal                  0.872486   21158.999
           Qatar                     3.641250   61024.774
           Romania                   4.066950   10785.993
           Russia                   66.685000   10955.792
           Saudi Arabia              3.751150   21096.440
           Singapore                 1.355900   57713.335
           Slovakia                  0.872486   17655.053
           Slovenia                  0.872486   23654.409
           South Africa             13.867500    6179.870
           South Korea            1118.600000   29938.450
           Spain                     0.872486   28358.808
           Sri Lanka               182.245000    4073.309
           Sweden                    8.906250   52925.128
           Switzerland               0.981650   80637.381
           Taiwan                   30.803000   24292.091
           Thailand                 32.007500    6590.638
           Turkey                    5.383400   10537.186
           Ukraine                  27.800000    2656.010
           United Arab Emirates      3.673150   37732.656
           United States             1.000000   59792.013
           Uruguay                  32.510000   16941.557
           Vietnam               23199.000000    2353.356

[1442 rows x 5 columns]

In [34]:
bigmac.sort_index(ascending = [True , False])

                          iso_a3 currency_code  local_price     dollar_ex  \
date       name
2000-04-01 United States     USA           USD         2.51      1.000000
           Thailand          THA           THB        55.00     38.000000
           Taiwan            TWN           TWD        70.00     30.600000
           Switzerland       CHE           CHF         5.90      1.700000
           Sweden            SWE           SEK        24.00      8.840000
           South Korea       KOR           KRW      3000.00   1108.000000
           South Africa      ZAF           ZAR         9.00      6.720000
           Singapore         SGP           SGD         3.20      1.700000
           Russia            RUS           RUB        39.50     28.500000
           Poland            POL           PLN         5.50      4.300000
           New Zealand       NZL           NZD         3.40      2.010000
           Mexico            MEX           MXN        20.90      9.410000
           Malaysia          MYS           MYR         4.52      3.800000
           Japan             JPN           JPY       294.00    106.000000
           Israel            ISR           ILS        14.50      4.050000
           Indonesia         IDN           IDR     14500.00   7945.000000
           Hungary           HUN           HUF       339.00    279.000000
           Hong Kong         HKG           HKD        10.20      7.790000
           Euro area         EUZ           EUR         2.56      1.075269
           Denmark           DNK           DKK        24.75      8.040000
           Czech Republic    CZE           CZK        54.37     39.100000
           China             CHN           CNY         9.90      8.280000
           Chile             CHL           CLP      1260.00    514.000000
           Canada            CAN           CAD         2.85      1.470000
           Britain           GBR           GBP         1.90      0.632911
           Brazil            BRA           BRL         2.95      1.790000
           Australia         AUS           AUD         2.59      1.680000
           Argentina         ARG           ARS         2.50      1.000000
2001-04-01 United States     USA           USD         2.54      1.000000
           Thailand          THA           THB        55.00     45.500000
...                          ...           ...          ...           ...
2019-01-01 Ireland           IRL           EUR         4.07      0.872486
           Indonesia         IDN           IDR     33000.00  14090.000000
           India             IND           INR       178.00     69.685000
           Hungary           HUN           HUF       850.00    280.268750
           Hong Kong         HKG           HKD        20.00      7.834350
           Honduras          HND           HNL        85.00     24.339100
           Guatemala         GTM           GTQ        25.00      7.728300
           Greece            GRC           EUR         3.35      0.872486
           Germany           DEU           EUR         4.12      0.872486
           France            FRA           EUR         4.20      0.872486
           Finland           FIN           EUR         4.62      0.872486
           Euro area         EUZ           EUR         4.05      0.872486
           Estonia           EST           EUR         3.20      0.872486
           Egypt             EGY           EGP        40.00     17.910000
           Denmark           DNK           DKK        30.00      6.515450
           Czech Republic    CZE           CZK        85.00     22.311650
           Croatia           HRV           HRK        21.00      6.478850
           Costa Rica        CRI           CRC      2290.00    606.975000
           Colombia          COL           COP     11900.00   3191.500000
           China             CHN           CNY        20.90      6.849700
           Chile             CHL           CLP      2640.00    678.990000
           Canada            CAN           CAD         6.77      1.331400
           Britain           GBR           GBP         3.19      0.783208
           Brazil            BRA           BRL        16.90      3.717950
           Belgium           BEL           EUR         4.20      0.872486
           Bahrain           BHR           BHD         1.20      0.377000
           Azerbaijan        AZE           AZN         3.95      1.696500
           Austria           AUT           EUR         3.76      0.872486
           Australia         AUS           AUD         6.10      1.401640
           Argentina         ARG           ARS        75.00     37.455000

                             GDP_dollar
date       name
2000-04-01 United States            NaN
           Thailand                 NaN
           Taiwan                   NaN
           Switzerland              NaN
           Sweden                   NaN
           South Korea              NaN
           South Africa             NaN
           Singapore                NaN
           Russia                   NaN
           Poland                   NaN
           New Zealand              NaN
           Mexico                   NaN
           Malaysia                 NaN
           Japan                    NaN
           Israel                   NaN
           Indonesia                NaN
           Hungary                  NaN
           Hong Kong                NaN
           Euro area                NaN
           Denmark                  NaN
           Czech Republic           NaN
           China                    NaN
           Chile                    NaN
           Canada                   NaN
           Britain                  NaN
           Brazil                   NaN
           Australia                NaN
           Argentina                NaN
2001-04-01 United States            NaN
           Thailand                 NaN
...                                 ...
2019-01-01 Ireland         68710.817000
           Indonesia        3875.769000
           India            1976.093000
           Hungary         14209.443000
           Hong Kong       46080.481000
           Honduras         2766.271000
           Guatemala        4469.457000
           Greece          18637.270000
           Germany         44769.224000
           France          39932.686000
           Finland         45927.492000
           Euro area       37309.093379
           Estonia         19735.347000
           Egypt            2495.020000
           Denmark         56630.596000
           Czech Republic  20401.577000
           Croatia         13271.376000
           Costa Rica      11728.613000
           Colombia         6379.606000
           China            8643.107000
           Chile           15067.724000
           Canada          45094.605000
           Britain         39800.274000
           Brazil           9895.765000
           Belgium         43488.492000
           Bahrain         24325.794000
           Azerbaijan       4140.650000
           Austria         47347.437000
           Australia       55692.730000
           Argentina       14462.920000

[1442 rows x 5 columns]

In [35]:
bigmac.loc [("2001-04-01", "Brazil" )]

iso_a3            BRA
currency_code     BRL
local_price       3.6
dollar_ex        2.19
GDP_dollar        NaN
Name: (2001-04-01 00:00:00, Brazil), dtype: object

In [36]:
bigmac.loc [("2001-04-01", "Brazil" ) , "dollar_ex"]

date        name
2001-04-01  Brazil    2.19
Name: dollar_ex, dtype: float64

In [37]:
bigmac.ix [("2001-04-01", "Brazil" ) , "dollar_ex"]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

2.19

In [39]:
bigmac.transpose()

date          2000-04-01                                                \
name           Argentina Australia Brazil   Britain Canada Chile China
iso_a3               ARG       AUS    BRA       GBR    CAN   CHL   CHN
currency_code        ARS       AUD    BRL       GBP    CAD   CLP   CNY
local_price          2.5      2.59   2.95       1.9   2.85  1260   9.9
dollar_ex              1      1.68   1.79  0.632911   1.47   514  8.28
GDP_dollar           NaN       NaN    NaN       NaN    NaN   NaN   NaN

date                                            ... 2019-01-01           \
name          Czech Republic Denmark Euro area  ...   Slovenia   Sweden
iso_a3                   CZE     DNK       EUZ  ...        SVN      SWE
currency_code            CZK     DKK       EUR  ...        EUR      SEK
local_price            54.37   24.75      2.56  ...        2.3       52
dollar_ex               39.1    8.04   1.07527  ...   0.872486  8.90625
GDP_dollar               NaN     NaN       NaN  ...    23654.4  52925.1

date                                                                      \
name          Thailand   Turkey   Taiwan  Ukraine  Uruguay United States
iso_a3             THA      TUR      TWN      UKR      URY           USA
currency_code      THB      TRY      TWD      UAH      UYU           USD
local_price        119    10.75       69       54      140          5.58
dollar_ex      32.0075   5.3834   30.803     27.8    32.51             1
GDP_dollar     6590.64  10537.2  24292.1  2656.01  16941.6         59792

date
name           Vietnam South Africa
iso_a3             VNM          ZAF
currency_code      VND          ZAR
local_price      65000           31
dollar_ex        23199      13.8675
GDP_dollar     2353.36      6179.87

[5 rows x 1442 columns]

In [43]:
bigmac.swaplevel(0,1).head()      

#the function has swapped the 0th level with 1st level of multi index

                     iso_a3 currency_code  local_price  dollar_ex  GDP_dollar
name      date
Argentina 2000-04-01    ARG           ARS         2.50   1.000000         NaN
Australia 2000-04-01    AUS           AUD         2.59   1.680000         NaN
Brazil    2000-04-01    BRA           BRL         2.95   1.790000         NaN
Britain   2000-04-01    GBR           GBP         1.90   0.632911         NaN
Canada    2000-04-01    CAN           CAD         2.85   1.470000         NaN

In [44]:
bigmac.stack()

date        name
2000-04-01  Argentina       iso_a3                ARG
                            currency_code         ARS
                            local_price           2.5
                            dollar_ex               1
            Australia       iso_a3                AUS
                            currency_code         AUD
                            local_price          2.59
                            dollar_ex            1.68
            Brazil          iso_a3                BRA
                            currency_code         BRL
                            local_price          2.95
                            dollar_ex            1.79
            Britain         iso_a3                GBR
                            currency_code         GBP
                            local_price           1.9
                            dollar_ex        0.632911
            Canada          iso_a3                CAN
                            currency_code         CAD
                            local_price          2.85
                            dollar_ex            1.47
            Chile           iso_a3                CHL
                            currency_code         CLP
                            local_price          1260
                            dollar_ex             514
            China           iso_a3                CHN
                            currency_code         CNY
                            local_price           9.9
                            dollar_ex            8.28
            Czech Republic  iso_a3                CZE
                            currency_code         CZK
                                               ...
2019-01-01  Taiwan          iso_a3                TWN
                            currency_code         TWD
                            local_price            69
                            dollar_ex          30.803
                            GDP_dollar        24292.1
            Ukraine         iso_a3                UKR
                            currency_code         UAH
                            local_price            54
                            dollar_ex            27.8
                            GDP_dollar        2656.01
            Uruguay         iso_a3                URY
                            currency_code         UYU
                            local_price           140
                            dollar_ex           32.51
                            GDP_dollar        16941.6
            United States   iso_a3                USA
                            currency_code         USD
                            local_price          5.58
                            dollar_ex               1
                            GDP_dollar          59792
            Vietnam         iso_a3                VNM
                            currency_code         VND
                            local_price         65000
                            dollar_ex           23199
                            GDP_dollar        2353.36
            South Africa    iso_a3                ZAF
                            currency_code         ZAR
                            local_price            31
                            dollar_ex         13.8675
                            GDP_dollar        6179.87
Length: 6597, dtype: object

In [45]:
bigmac.stack().to_frame()

                                                0
date       name
2000-04-01 Argentina      iso_a3              ARG
                          currency_code       ARS
                          local_price         2.5
                          dollar_ex             1
           Australia      iso_a3              AUS
                          currency_code       AUD
                          local_price        2.59
                          dollar_ex          1.68
           Brazil         iso_a3              BRA
                          currency_code       BRL
                          local_price        2.95
                          dollar_ex          1.79
           Britain        iso_a3              GBR
                          currency_code       GBP
                          local_price         1.9
                          dollar_ex      0.632911
           Canada         iso_a3              CAN
                          currency_code       CAD
                          local_price        2.85
                          dollar_ex          1.47
           Chile          iso_a3              CHL
                          currency_code       CLP
                          local_price        1260
                          dollar_ex           514
           China          iso_a3              CHN
                          currency_code       CNY
                          local_price         9.9
                          dollar_ex          8.28
           Czech Republic iso_a3              CZE
                          currency_code       CZK
...                                           ...
2019-01-01 Taiwan         iso_a3              TWN
                          currency_code       TWD
                          local_price          69
                          dollar_ex        30.803
                          GDP_dollar      24292.1
           Ukraine        iso_a3              UKR
                          currency_code       UAH
                          local_price          54
                          dollar_ex          27.8
                          GDP_dollar      2656.01
           Uruguay        iso_a3              URY
                          currency_code       UYU
                          local_price         140
                          dollar_ex         32.51
                          GDP_dollar      16941.6
           United States  iso_a3              USA
                          currency_code       USD
                          local_price        5.58
                          dollar_ex             1
                          GDP_dollar        59792
           Vietnam        iso_a3              VNM
                          currency_code       VND
                          local_price       65000
                          dollar_ex         23199
                          GDP_dollar      2353.36
           South Africa   iso_a3              ZAF
                          currency_code       ZAR
                          local_price          31
                          dollar_ex       13.8675
                          GDP_dollar      6179.87

[6597 rows x 1 columns]

In [48]:
bigmac.unstack().unstack().unstack()

date                            2000-04-01 2001-04-01 2002-04-01 2003-04-01  \
           name
iso_a3     Argentina                   ARG        ARG        ARG        ARG
           Australia                   AUS        AUS        AUS        AUS
           Austria                     NaN        NaN        NaN        NaN
           Azerbaijan                  NaN        NaN        NaN        NaN
           Bahrain                     NaN        NaN        NaN        NaN
           Belgium                     NaN        NaN        NaN        NaN
           Brazil                      BRA        BRA        BRA        BRA
           Britain                     GBR        GBR        GBR        GBR
           Canada                      CAN        CAN        CAN        CAN
           Chile                       CHL        CHL        CHL        CHL
           China                       CHN        CHN        CHN        CHN
           Colombia                    NaN        NaN        NaN        NaN
           Costa Rica                  NaN        NaN        NaN        NaN
           Croatia                     NaN        NaN        NaN        NaN
           Czech Republic              CZE        CZE        CZE        CZE
           Denmark                     DNK        DNK        DNK        DNK
           Egypt                       NaN        NaN        NaN        EGY
           Estonia                     NaN        NaN        NaN        NaN
           Euro area                   EUZ        EUZ        EUZ        EUZ
           Finland                     NaN        NaN        NaN        NaN
           France                      NaN        NaN        NaN        NaN
           Germany                     NaN        NaN        NaN        NaN
           Greece                      NaN        NaN        NaN        NaN
           Guatemala                   NaN        NaN        NaN        NaN
           Honduras                    NaN        NaN        NaN        NaN
           Hong Kong                   HKG        HKG        HKG        HKG
           Hungary                     HUN        HUN        HUN        HUN
           India                       NaN        NaN        NaN        NaN
           Indonesia                   IDN        IDN        IDN        IDN
           Ireland                     NaN        NaN        NaN        NaN
...                                    ...        ...        ...        ...
GDP_dollar Norway                      NaN        NaN        NaN        NaN
           Oman                        NaN        NaN        NaN        NaN
           Pakistan                    NaN        NaN        NaN        NaN
           Peru                        NaN        NaN        NaN        NaN
           Philippines                 NaN        NaN        NaN        NaN
           Poland                      NaN        NaN        NaN        NaN
           Portugal                    NaN        NaN        NaN        NaN
           Qatar                       NaN        NaN        NaN        NaN
           Romania                     NaN        NaN        NaN        NaN
           Russia                      NaN        NaN        NaN        NaN
           Saudi Arabia                NaN        NaN        NaN        NaN
           Singapore                   NaN        NaN        NaN        NaN
           Slovakia                    NaN        NaN        NaN        NaN
           Slovenia                    NaN        NaN        NaN        NaN
           South Africa                NaN        NaN        NaN        NaN
           South Korea                 NaN        NaN        NaN        NaN
           Spain                       NaN        NaN        NaN        NaN
           Sri Lanka                   NaN        NaN        NaN        NaN
           Sweden                      NaN        NaN        NaN        NaN
           Switzerland                 NaN        NaN        NaN        NaN
           Taiwan                      NaN        NaN        NaN        NaN
           Thailand                    NaN        NaN        NaN        NaN
           Turkey                      NaN        NaN        NaN        NaN
           UAE                         NaN        NaN        NaN        NaN
           Ukraine                     NaN        NaN        NaN        NaN
           United Arab Emirates        NaN        NaN        NaN        NaN
           United States               NaN        NaN        NaN        NaN
           Uruguay                     NaN        NaN        NaN        NaN
           Venezuela                   NaN        NaN        NaN        NaN
           Vietnam                     NaN        NaN        NaN        NaN

date                            2004-05-01 2005-06-01 2006-01-01 2006-05-01  \
           name
iso_a3     Argentina                   ARG        ARG        ARG        ARG
           Australia                   AUS        AUS        AUS        AUS
           Austria                     NaN        NaN        NaN        NaN
           Azerbaijan                  NaN        NaN        NaN        NaN
           Bahrain                     NaN        NaN        NaN        NaN
           Belgium                     NaN        NaN        NaN        NaN
           Brazil                      BRA        BRA        BRA        BRA
           Britain                     GBR        GBR        GBR        GBR
           Canada                      CAN        CAN        CAN        CAN
           Chile                       CHL        CHL        CHL        CHL
           China                       CHN        CHN        CHN        CHN
           Colombia                    COL        COL        NaN        COL
           Costa Rica                  CRI        CRI        NaN        CRI
           Croatia                     NaN        NaN        NaN        NaN
           Czech Republic              CZE        CZE        CZE        CZE
           Denmark                     DNK        DNK        DNK        DNK
           Egypt                       EGY        EGY        EGY        EGY
           Estonia                     NaN        NaN        NaN        NaN
           Euro area                   EUZ        EUZ        EUZ        EUZ
           Finland                     NaN        NaN        NaN        NaN
           France                      NaN        NaN        NaN        NaN
           Germany                     NaN        NaN        NaN        NaN
           Greece                      NaN        NaN        NaN        NaN
           Guatemala                   NaN        NaN        NaN        NaN
           Honduras                    NaN        NaN        NaN        NaN
           Hong Kong                   HKG        HKG        HKG        HKG
           Hungary                     HUN        HUN        HUN        HUN
           India                       NaN        NaN        NaN        NaN
           Indonesia                   IDN        IDN        IDN        IDN
           Ireland                     NaN        NaN        NaN        NaN
...                                    ...        ...        ...        ...
GDP_dollar Norway                      NaN        NaN        NaN        NaN
           Oman                        NaN        NaN        NaN        NaN
           Pakistan                    NaN        NaN        NaN        NaN
           Peru                        NaN        NaN        NaN        NaN
           Philippines                 NaN        NaN        NaN        NaN
           Poland                      NaN        NaN        NaN        NaN
           Portugal                    NaN        NaN        NaN        NaN
           Qatar                       NaN        NaN        NaN        NaN
           Romania                     NaN        NaN        NaN        NaN
           Russia                      NaN        NaN        NaN        NaN
           Saudi Arabia                NaN        NaN        NaN        NaN
           Singapore                   NaN        NaN        NaN        NaN
           Slovakia                    NaN        NaN        NaN        NaN
           Slovenia                    NaN        NaN        NaN        NaN
           South Africa                NaN        NaN        NaN        NaN
           South Korea                 NaN        NaN        NaN        NaN
           Spain                       NaN        NaN        NaN        NaN
           Sri Lanka                   NaN        NaN        NaN        NaN
           Sweden                      NaN        NaN        NaN        NaN
           Switzerland                 NaN        NaN        NaN        NaN
           Taiwan                      NaN        NaN        NaN        NaN
           Thailand                    NaN        NaN        NaN        NaN
           Turkey                      NaN        NaN        NaN        NaN
           UAE                         NaN        NaN        NaN        NaN
           Ukraine                     NaN        NaN        NaN        NaN
           United Arab Emirates        NaN        NaN        NaN        NaN
           United States               NaN        NaN        NaN        NaN
           Uruguay                     NaN        NaN        NaN        NaN
           Venezuela                   NaN        NaN        NaN        NaN
           Vietnam                     NaN        NaN        NaN        NaN

date                            2007-01-01 2007-06-01  ... 2014-07-01  \
           name                                        ...
iso_a3     Argentina                   ARG        ARG  ...        ARG
           Australia                   AUS        AUS  ...        AUS
           Austria                     NaN        NaN  ...        AUT
           Azerbaijan                  NaN        NaN  ...        NaN
           Bahrain                     NaN        NaN  ...        NaN
           Belgium                     NaN        NaN  ...        BEL
           Brazil                      BRA        BRA  ...        BRA
           Britain                     GBR        GBR  ...        GBR
           Canada                      CAN        CAN  ...        CAN
           Chile                       CHL        CHL  ...        CHL
           China                       CHN        CHN  ...        CHN
           Colombia                    COL        COL  ...        COL
           Costa Rica                  CRI        CRI  ...        CRI
           Croatia                     NaN        NaN  ...        NaN
           Czech Republic              CZE        CZE  ...        CZE
           Denmark                     DNK        DNK  ...        DNK
           Egypt                       EGY        EGY  ...        EGY
           Estonia                     NaN        NaN  ...        EST
           Euro area                   EUZ        EUZ  ...        EUZ
           Finland                     NaN        NaN  ...        FIN
           France                      NaN        NaN  ...        FRA
           Germany                     NaN        NaN  ...        DEU
           Greece                      NaN        NaN  ...        GRC
           Guatemala                   NaN        NaN  ...        NaN
           Honduras                    NaN        NaN  ...        NaN
           Hong Kong                   HKG        HKG  ...        HKG
           Hungary                     HUN        HUN  ...        HUN
           India                       NaN        NaN  ...        IND
           Indonesia                   IDN        IDN  ...        IDN
           Ireland                     NaN        NaN  ...        IRL
...                                    ...        ...  ...        ...
GDP_dollar Norway                      NaN        NaN  ...      99249
           Oman                        NaN        NaN  ...        NaN
           Pakistan                    NaN        NaN  ...    1260.74
           Peru                        NaN        NaN  ...    6549.64
           Philippines                 NaN        NaN  ...     2611.5
           Poland                      NaN        NaN  ...      12709
           Portugal                    NaN        NaN  ...    20019.9
           Qatar                       NaN        NaN  ...        NaN
           Romania                     NaN        NaN  ...        NaN
           Russia                      NaN        NaN  ...    14015.8
           Saudi Arabia                NaN        NaN  ...      25139
           Singapore                   NaN        NaN  ...      53516
           Slovakia                    NaN        NaN  ...        NaN
           Slovenia                    NaN        NaN  ...        NaN
           South Africa                NaN        NaN  ...    7314.01
           South Korea                 NaN        NaN  ...    22590.2
           Spain                       NaN        NaN  ...    28294.1
           Sri Lanka                   NaN        NaN  ...        NaN
           Sweden                      NaN        NaN  ...    54829.1
           Switzerland                 NaN        NaN  ...    79344.3
           Taiwan                      NaN        NaN  ...    20386.5
           Thailand                    NaN        NaN  ...    5390.41
           Turkey                      NaN        NaN  ...    10523.4
           UAE                         NaN        NaN  ...        NaN
           Ukraine                     NaN        NaN  ...        NaN
           United Arab Emirates        NaN        NaN  ...        NaN
           United States               NaN        NaN  ...      51709
           Uruguay                     NaN        NaN  ...        NaN
           Venezuela                   NaN        NaN  ...        NaN
           Vietnam                     NaN        NaN  ...        NaN

date                            2015-01-01 2015-07-01 2016-01-01 2016-07-01  \
           name
iso_a3     Argentina                   ARG        ARG        ARG        ARG
           Australia                   AUS        AUS        AUS        AUS
           Austria                     AUT        AUT        AUT        AUT
           Azerbaijan                  NaN        NaN        NaN        NaN
           Bahrain                     NaN        NaN        NaN        NaN
           Belgium                     BEL        BEL        BEL        BEL
           Brazil                      BRA        BRA        BRA        BRA
           Britain                     GBR        GBR        GBR        GBR
           Canada                      CAN        CAN        CAN        CAN
           Chile                       CHL        CHL        CHL        CHL
           China                       CHN        CHN        CHN        CHN
           Colombia                    COL        COL        COL        COL
           Costa Rica                  CRI        CRI        CRI        CRI
           Croatia                     NaN        NaN        NaN        NaN
           Czech Republic              CZE        CZE        CZE        CZE
           Denmark                     DNK        DNK        DNK        DNK
           Egypt                       EGY        EGY        EGY        EGY
           Estonia                     EST        EST        EST        EST
           Euro area                   EUZ        EUZ        EUZ        EUZ
           Finland                     FIN        FIN        FIN        FIN
           France                      FRA        FRA        FRA        FRA
           Germany                     DEU        DEU        DEU        DEU
           Greece                      GRC        GRC        GRC        GRC
           Guatemala                   NaN        NaN        NaN        NaN
           Honduras                    NaN        NaN        NaN        NaN
           Hong Kong                   HKG        HKG        HKG        HKG
           Hungary                     HUN        HUN        HUN        HUN
           India                       IND        IND        IND        IND
           Indonesia                   IDN        IDN        IDN        IDN
           Ireland                     IRL        IRL        IRL        IRL
...                                    ...        ...        ...        ...
GDP_dollar Norway                   100579    97013.3    96930.5    74822.1
           Oman                        NaN        NaN        NaN        NaN
           Pakistan                1274.76    1342.73    1325.79    1449.98
           Peru                    6540.99    6458.29    6448.53     6021.1
           Philippines             2790.88    2865.49    2862.38    2858.14
           Poland                  13435.3    14378.6    14411.5    12495.3
           Portugal                20995.3    22130.5      22123    19121.6
           Qatar                       NaN        NaN        NaN        NaN
           Romania                     NaN        NaN        NaN        NaN
           Russia                  14591.3      12926    12717.7    9054.91
           Saudi Arabia            24953.1      24454    24252.2    20812.6
           Singapore               55182.5    56319.3    56286.6    52887.8
           Slovakia                    NaN        NaN        NaN        NaN
           Slovenia                    NaN        NaN        NaN        NaN
           South Africa            6621.12    6482.75    6482.75    5694.57
           South Korea             25975.1    28100.7    27970.5    27195.2
           Spain                   29150.3    30278.3    30271.5    25864.7
           Sri Lanka                   NaN        NaN        NaN        NaN
           Sweden                  58014.2    58491.5    58538.1    49866.3
           Switzerland             81276.1    87475.5    86468.4    80675.3
           Taiwan                  20924.9    22597.7    22599.8    22287.6
           Thailand                 5675.8    5444.56    5896.36    5742.28
           Turkey                  10721.1    10482.1      10381    9437.37
           UAE                         NaN        NaN        NaN        NaN
           Ukraine                     NaN        NaN        NaN        NaN
           United Arab Emirates        NaN        NaN        NaN        NaN
           United States             53001    54596.7    54369.8    55805.2
           Uruguay                     NaN        NaN        NaN        NaN
           Venezuela                   NaN        NaN        NaN        NaN
           Vietnam                     NaN        NaN        NaN        NaN

date                            2017-01-01 2017-07-01 2018-01-01 2018-07-01  \
           name
iso_a3     Argentina                   ARG        ARG        ARG        ARG
           Australia                   AUS        AUS        AUS        AUS
           Austria                     AUT        AUT        AUT        AUT
           Azerbaijan                  NaN        NaN        NaN        AZE
           Bahrain                     NaN        NaN        NaN        BHR
           Belgium                     BEL        BEL        BEL        BEL
           Brazil                      BRA        BRA        BRA        BRA
           Britain                     GBR        GBR        GBR        GBR
           Canada                      CAN        CAN        CAN        CAN
           Chile                       CHL        CHL        CHL        CHL
           China                       CHN        CHN        CHN        CHN
           Colombia                    COL        COL        COL        COL
           Costa Rica                  CRI        CRI        CRI        CRI
           Croatia                     NaN        NaN        NaN        HRV
           Czech Republic              CZE        CZE        CZE        CZE
           Denmark                     DNK        DNK        DNK        DNK
           Egypt                       EGY        EGY        EGY        EGY

In [51]:
bigmac.unstack(1)

              iso_a3                                                      \
name       Argentina Australia Austria Azerbaijan Bahrain Belgium Brazil
date
2000-04-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2001-04-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2002-04-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2003-04-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2004-05-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2005-06-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2006-01-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2006-05-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2007-01-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2007-06-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2008-06-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2009-07-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2010-01-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2010-07-01       ARG       AUS     NaN        NaN     NaN     NaN    BRA
2011-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2012-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2012-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2013-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2013-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2014-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2014-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2015-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2015-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2016-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2016-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2017-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2017-07-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2018-01-01       ARG       AUS     AUT        NaN     NaN     BEL    BRA
2018-07-01       ARG       AUS     AUT        AZE     BHR     BEL    BRA
2019-01-01       ARG       AUS     AUT        AZE     BHR     BEL    BRA

                                 ... GDP_dollar                           \
name       Britain Canada Chile  ...     Taiwan  Thailand     Turkey UAE
date                             ...
2000-04-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2001-04-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2002-04-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2003-04-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2004-05-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2005-06-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2006-01-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2006-05-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2007-01-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2007-06-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2008-06-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2009-07-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2010-01-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2010-07-01     GBR    CAN   CHL  ...        NaN       NaN        NaN NaN
2011-07-01     GBR    CAN   CHL  ...  18457.752  4991.525  10398.685 NaN
2012-01-01     GBR    CAN   CHL  ...  18457.752  4991.525  10398.685 NaN
2012-07-01     GBR    CAN   CHL  ...  18457.752  4991.525  10398.685 NaN
2013-01-01     GBR    CAN   CHL  ...  20082.918  5394.714  10362.609 NaN
2013-07-01     GBR    CAN   CHL  ...  20082.918  5394.714  10362.609 NaN
2014-01-01     GBR    CAN   CHL  ...  20082.918  5394.714  10362.609 NaN
2014-07-01     GBR    CAN   CHL  ...  20386.475  5390.414  10523.360 NaN
2015-01-01     GBR    CAN   CHL  ...  20924.921  5675.800  10721.063 NaN
2015-07-01     GBR    CAN   CHL  ...  22597.730  5444.556  10482.140 NaN
2016-01-01     GBR    CAN   CHL  ...  22599.765  5896.361  10381.025 NaN
2016-07-01     GBR    CAN   CHL  ...  22287.562  5742.282   9437.372 NaN
2017-01-01     GBR    CAN   CHL  ...  22287.562  5742.282   9437.372 NaN
2017-07-01     GBR    CAN   CHL  ...  22287.562  5742.282   9437.372 NaN
2018-01-01     GBR    CAN   CHL  ...  22496.997  5901.747  10817.406 NaN
2018-07-01     GBR    CAN   CHL  ...  24576.665  6590.638  10511.996 NaN
2019-01-01     GBR    CAN   CHL  ...  24292.091  6590.638  10537.186 NaN

                                                                              \
name         Ukraine United Arab Emirates United States    Uruguay Venezuela
date
2000-04-01       NaN                  NaN           NaN        NaN       NaN
2001-04-01       NaN                  NaN           NaN        NaN       NaN
2002-04-01       NaN                  NaN           NaN        NaN       NaN
2003-04-01       NaN                  NaN           NaN        NaN       NaN
2004-05-01       NaN                  NaN           NaN        NaN       NaN
2005-06-01       NaN                  NaN           NaN        NaN       NaN
2006-01-01       NaN                  NaN           NaN        NaN       NaN
2006-05-01       NaN                  NaN           NaN        NaN       NaN
2007-01-01       NaN                  NaN           NaN        NaN       NaN
2007-06-01       NaN                  NaN           NaN        NaN       NaN
2008-06-01       NaN                  NaN           NaN        NaN       NaN
2009-07-01       NaN                  NaN           NaN        NaN       NaN
2010-01-01       NaN                  NaN           NaN        NaN       NaN
2010-07-01       NaN                  NaN           NaN        NaN       NaN
2011-07-01       NaN                  NaN     47283.633        NaN       NaN
2012-01-01       NaN                  NaN     47283.633        NaN       NaN
2012-07-01       NaN                  NaN     47283.633        NaN       NaN
2013-01-01       NaN                  NaN     48327.861        NaN       NaN
2013-07-01       NaN                  NaN     48327.861        NaN       NaN
2014-01-01       NaN                  NaN     48327.861        NaN       NaN
2014-07-01       NaN                  NaN     51708.982        NaN       NaN
2015-01-01       NaN                  NaN     53000.972        NaN       NaN
2015-07-01       NaN                  NaN     54596.653        NaN       NaN
2016-01-01       NaN                  NaN     54369.826        NaN       NaN
2016-07-01       NaN                  NaN     55805.204        NaN       NaN
2017-01-01       NaN                  NaN     55805.204        NaN       NaN
2017-07-01       NaN                  NaN     55805.204        NaN       NaN
2018-01-01       NaN                  NaN     57607.613        NaN       NaN
2018-07-01  2582.838            37225.745     59501.114  16722.407       NaN
2019-01-01  2656.010            37732.656     59792.013  16941.557       NaN


name         Vietnam
date
2000-04-01       NaN
2001-04-01       NaN
2002-04-01       NaN
2003-04-01       NaN
2004-05-01       NaN
2005-06-01       NaN
2006-01-01       NaN
2006-05-01       NaN
2007-01-01       NaN
2007-06-01       NaN
2008-06-01       NaN
2009-07-01       NaN
2010-01-01       NaN
2010-07-01       NaN
2011-07-01       NaN
2012-01-01       NaN
2012-07-01       NaN
2013-01-01       NaN
2013-07-01       NaN
2014-01-01       NaN
2014-07-01       NaN
2015-01-01       NaN
2015-07-01       NaN
2016-01-01       NaN
2016-07-01       NaN
2017-01-01       NaN
2017-07-01       NaN
2018-01-01       NaN
2018-07-01  2353.691
2019-01-01  2353.356

[30 rows x 370 columns]

In [52]:
bigmac.unstack("date")

                         iso_a3                                              \
date                 2000-04-01 2001-04-01 2002-04-01 2003-04-01 2004-05-01
name
Argentina                   ARG        ARG        ARG        ARG        ARG
Australia                   AUS        AUS        AUS        AUS        AUS
Austria                     NaN        NaN        NaN        NaN        NaN
Azerbaijan                  NaN        NaN        NaN        NaN        NaN
Bahrain                     NaN        NaN        NaN        NaN        NaN
Belgium                     NaN        NaN        NaN        NaN        NaN
Brazil                      BRA        BRA        BRA        BRA        BRA
Britain                     GBR        GBR        GBR        GBR        GBR
Canada                      CAN        CAN        CAN        CAN        CAN
Chile                       CHL        CHL        CHL        CHL        CHL
China                       CHN        CHN        CHN        CHN        CHN
Colombia                    NaN        NaN        NaN        NaN        COL
Costa Rica                  NaN        NaN        NaN        NaN        CRI
Croatia                     NaN        NaN        NaN        NaN        NaN
Czech Republic              CZE        CZE        CZE        CZE        CZE
Denmark                     DNK        DNK        DNK        DNK        DNK
Egypt                       NaN        NaN        NaN        EGY        EGY
Estonia                     NaN        NaN        NaN        NaN        NaN
Euro area                   EUZ        EUZ        EUZ        EUZ        EUZ
Finland                     NaN        NaN        NaN        NaN        NaN
France                      NaN        NaN        NaN        NaN        NaN
Germany                     NaN        NaN        NaN        NaN        NaN
Greece                      NaN        NaN        NaN        NaN        NaN
Guatemala                   NaN        NaN        NaN        NaN        NaN
Honduras                    NaN        NaN        NaN        NaN        NaN
Hong Kong                   HKG        HKG        HKG        HKG        HKG
Hungary                     HUN        HUN        HUN        HUN        HUN
India                       NaN        NaN        NaN        NaN        NaN
Indonesia                   IDN        IDN        IDN        IDN        IDN
Ireland                     NaN        NaN        NaN        NaN        NaN
...                         ...        ...        ...        ...        ...
Norway                      NaN        NaN        NOR        NaN        NOR
Oman                        NaN        NaN        NaN        NaN        NaN
Pakistan                    NaN        NaN        NaN        NaN        PAK
Peru                        NaN        NaN        PER        PER        PER
Philippines                 NaN        PHL        PHL        PHL        PHL
Poland                      POL        POL        POL        POL        POL
Portugal                    NaN        NaN        NaN        NaN        NaN
Qatar                       NaN        NaN        NaN        NaN        NaN
Romania                     NaN        NaN        NaN        NaN        NaN
Russia                      RUS        RUS        RUS        RUS        RUS
Saudi Arabia                NaN        NaN        NaN        NaN        SAU
Singapore                   SGP        SGP        SGP        SGP        SGP
Slovakia                    NaN        NaN        NaN        NaN        NaN
Slovenia                    NaN        NaN        NaN        NaN        NaN
South Africa                ZAF        ZAF        ZAF        ZAF        ZAF
South Korea                 KOR        KOR        KOR        KOR        KOR
Spain                       NaN        NaN        NaN        NaN        NaN
Sri Lanka                   NaN        NaN        NaN        NaN        LKA
Sweden                      SWE        SWE        SWE        SWE        SWE
Switzerland                 CHE        CHE        CHE        CHE        CHE
Taiwan                      TWN        TWN        TWN        TWN        TWN
Thailand                    THA        THA        THA        THA        THA
Turkey                      NaN        NaN        TUR        TUR        TUR
UAE                         NaN        NaN        NaN        NaN        NaN
Ukraine                     NaN        NaN        NaN        NaN        UKR
United Arab Emirates        NaN        NaN        NaN        NaN        NaN
United States               USA        USA        USA        USA        USA
Uruguay                     NaN        NaN        NaN        NaN        URY
Venezuela                   NaN        NaN        VEN        VEN        VEN
Vietnam                     NaN        NaN        NaN        NaN        NaN

                                                                             \
date                 2005-06-01 2006-01-01 2006-05-01 2007-01-01 2007-06-01
name
Argentina                   ARG        ARG        ARG        ARG        ARG
Australia                   AUS        AUS        AUS        AUS        AUS
Austria                     NaN        NaN        NaN        NaN        NaN
Azerbaijan                  NaN        NaN        NaN        NaN        NaN
Bahrain                     NaN        NaN        NaN        NaN        NaN
Belgium                     NaN        NaN        NaN        NaN        NaN
Brazil                      BRA        BRA        BRA        BRA        BRA
Britain                     GBR        GBR        GBR        GBR        GBR
Canada                      CAN        CAN        CAN        CAN        CAN
Chile                       CHL        CHL        CHL        CHL        CHL
China                       CHN        CHN        CHN        CHN        CHN
Colombia                    COL        NaN        COL        COL        COL
Costa Rica                  CRI        NaN        CRI        CRI        CRI
Croatia                     NaN        NaN        NaN        NaN        NaN
Czech Republic              CZE        CZE        CZE        CZE        CZE
Denmark                     DNK        DNK        DNK        DNK        DNK
Egypt                       EGY        EGY        EGY        EGY        EGY
Estonia                     NaN        NaN        NaN        NaN        NaN
Euro area                   EUZ        EUZ        EUZ        EUZ        EUZ
Finland                     NaN        NaN        NaN        NaN        NaN
France                      NaN        NaN        NaN        NaN        NaN
Germany                     NaN        NaN        NaN        NaN        NaN
Greece                      NaN        NaN        NaN        NaN        NaN
Guatemala                   NaN        NaN        NaN        NaN        NaN
Honduras                    NaN        NaN        NaN        NaN        NaN
Hong Kong                   HKG        HKG        HKG        HKG        HKG
Hungary                     HUN        HUN        HUN        HUN        HUN
India                       NaN        NaN        NaN        NaN        NaN
Indonesia                   IDN        IDN        IDN        IDN        IDN
Ireland                     NaN        NaN        NaN        NaN        NaN
...                         ...        ...        ...        ...        ...
Norway                      NOR        NaN        NOR        NOR        NOR
Oman                        NaN        NaN        NaN        NaN        NaN
Pakistan                    PAK        NaN        PAK        PAK        PAK
Peru                        PER        PER        PER        PER        PER
Philippines                 PHL        PHL        PHL        PHL        PHL
Poland                      POL        POL        POL        POL        POL
Portugal                    NaN        NaN        NaN        NaN        NaN
Qatar                       NaN        NaN        NaN        NaN        NaN
Romania                     NaN        NaN        NaN        NaN        NaN
Russia                      RUS        RUS        RUS        RUS        RUS
Saudi Arabia                SAU        NaN        SAU        SAU        SAU
Singapore                   SGP        SGP        SGP        SGP        SGP
Slovakia                    NaN        NaN        NaN        NaN        NaN
Slovenia                    NaN        NaN        NaN        NaN        NaN
South Africa                ZAF        ZAF        ZAF        ZAF        ZAF
South Korea                 KOR        KOR        KOR        KOR        KOR
Spain                       NaN        NaN        NaN        NaN        NaN
Sri Lanka                   LKA        NaN        LKA        LKA        LKA
Sweden                      SWE        SWE        SWE        SWE        SWE
Switzerland                 CHE        CHE        CHE        CHE        CHE
Taiwan                      TWN        TWN        TWN        TWN        TWN
Thailand                    THA        THA        THA        THA        THA
Turkey                      TUR        TUR        TUR        TUR        TUR
UAE                         ARE        NaN        ARE        ARE        ARE
Ukraine                     UKR        NaN        UKR        UKR        UKR
United Arab Emirates        NaN        NaN        NaN        NaN        NaN
United States               USA        USA        USA        USA        USA
Uruguay                     URY        NaN        URY        URY        URY
Venezuela                   VEN        VEN        VEN        VEN        VEN
Vietnam                     NaN        NaN        NaN        NaN        NaN

                      ...   GDP_dollar                                         \
date                  ...   2014-07-01   2015-01-01   2015-07-01   2016-01-01
name                  ...
Argentina             ...  11582.48000   14708.6130  12873.16000  12735.19600
Australia             ...  67855.88000   64578.1900  61219.15600  61066.15400
Austria               ...  46620.23500   49038.9590  51306.67400  51433.00400
Azerbaijan            ...          NaN          NaN          NaN          NaN
Bahrain               ...          NaN          NaN          NaN          NaN
Belgium               ...  43553.78100   45537.6190  47721.58600  47682.13200
Brazil                ...  11437.39300   11172.5230  11604.47100  11572.70000
Britain               ...  38999.20800   39371.6530  45653.41000  45729.26700
Canada                ...  52488.72500   52037.1480  50397.86200  50304.02500
Chile                 ...  15300.35200   15775.7130  14477.09900  14479.82900
China                 ...   6077.65000    6958.6860   7588.99600   7571.54300
Colombia              ...   7935.71600    8030.7150   8075.64400   7928.06100
Costa Rica            ...          NaN          NaN          NaN          NaN
Croatia               ...          NaN          NaN          NaN          NaN
Czech Republic        ...  18699.46700   18871.0090  19563.33000  19526.40100
Denmark               ...  56475.85000   59129.1270  60563.62300  60947.38300
Egypt                 ...   3178.95100    3242.8570   3303.75200   3303.75200
Estonia               ...  17295.22800   18852.0910  19670.85200  20090.02400
Euro area             ...  36888.30379   38643.6391  40028.39054  40001.31716
Finland               ...  45567.51900   49055.0310  49496.71700  50015.69800
France                ...  41223.21300   44098.6950  44538.14700  44331.60400
Germany               ...  42569.47100   44999.4960  47589.97200  47773.57800
Greece                ...  22346.58400   21857.2800  21653.08100  21648.20300
Guatemala             ...          NaN          NaN          NaN          NaN
Honduras              ...          NaN          NaN          NaN          NaN
Hong Kong             ...  36590.44300   37955.4480  39871.09600  40032.53400
Hungary               ...  12543.95900   13387.9750  13881.13100  13869.53800
India                 ...   1514.63400    1509.4950   1626.98200   1607.64600
Indonesia             ...   3590.66200    3509.8240   3533.52900   3524.07500
Ireland               ...  45961.95900   48607.8210  53461.97400  54411.13600
...                   ...          ...          ...          ...          ...
Norway                ...  99249.00400  100578.9680  97013.26100  96930.48500
Oman                  ...          NaN          NaN          NaN          NaN
Pakistan              ...   1260.73600    1274.7560   1342.73000   1325.79000
Peru                  ...   6549.63600    6540.9890   6458.28700   6448.53400
Philippines           ...   2611.50300    2790.8780   2865.48500   2862.38000
Poland                ...  12708.96200   13435.2630  14378.62200  14411.49500
Portugal              ...  20019.90200   20995.3300  22130.48800  22122.98100
Qatar                 ...          NaN          NaN          NaN          NaN
Romania               ...          NaN          NaN          NaN          NaN
Russia                ...  14015.75000   14591.3300  12925.96400  12717.68700
Saudi Arabia          ...  25139.00400   24953.0860  24454.01600  24252.17300
Singapore             ...  53516.03900   55182.4830  56319.33800  56286.55300
Slovakia              ...          NaN          NaN          NaN          NaN
Slovenia              ...          NaN          NaN          NaN          NaN
South Africa          ...   7314.01400    6621.1220   6482.75300   6482.75300
South Korea           ...  22590.15800   25975.0680  28100.71700  27970.49400
Spain                 ...  28294.11200   29150.3450  30278.34600  30271.52400
Sri Lanka             ...          NaN          NaN          NaN          NaN
Sweden                ...  54829.10500   58014.1680  58491.46800  58538.06100
Switzerland           ...  79344.25300   81276.1260  87475.46400  86468.35500
Taiwan                ...  20386.47500   20924.9210  22597.73000  22599.76500
Thailand              ...   5390.41400    5675.8000   5444.55600   5896.36100
Turkey                ...  10523.36000   10721.0630  10482.14000  10381.02500
UAE                   ...          NaN          NaN          NaN          NaN
Ukraine               ...          NaN          NaN          NaN          NaN
United Arab Emirates  ...          NaN          NaN          NaN          NaN
United States         ...  51708.98200   53000.9720  54596.65300  54369.82600
Uruguay               ...          NaN          NaN          NaN          NaN
Venezuela             ...          NaN          NaN          NaN          NaN
Vietnam               ...          NaN          NaN          NaN          NaN

                                                                          \
date                   2016-07-01   2017-01-01   2017-07-01   2018-01-01
name
Argentina             13588.84600  13588.84600  12502.82200  12493.90900
Australia             50961.86500  50961.86500  51850.26900  51737.22800
Austria               43724.03100  43724.03100  44498.37000  44232.94000
Azerbaijan                    NaN          NaN          NaN          NaN
Bahrain                       NaN          NaN          NaN          NaN
Belgium               40106.63200  40106.63200  41283.27400  41247.85800
Brazil                 8669.99800   8669.99800   8726.90100   8726.90100
Britain               43770.68800  43770.68800  43770.68800  40049.77900
Canada                43331.96100  43331.96100  42210.13200  42224.93900
Chile                 13340.90500  13340.90500  13575.99600  13575.99600
China                  7989.72000   7989.72000   8113.25700   8123.25600
Colombia               6083.51000   6083.51000   5792.18200   5792.18200
Costa Rica                    NaN          NaN          NaN          NaN
Croatia                       NaN          NaN          NaN          NaN
Czech Republic        17256.91800  17256.91800  18286.33300  18507.72900
Denmark               52114.16500  52114.16500  53743.96600  53744.64300
Egypt                  3740.24900   3740.24900   3684.57400   3684.57400
Estonia               17288.08300  17288.08300  17632.70400  17786.01400
Euro area             34142.38535  34142.38535  35066.00744  35189.71087
Finland               41973.98800  41973.98800  43169.21800  43482.40600
France                37675.00600  37675.00600  38127.65200  38177.85600
Germany               40996.51100  40996.51100  41902.28300  42176.85400
Greece                18064.28800  18064.28800  17900.73000  18049.30200
Guatemala                     NaN          NaN          NaN          NaN
Honduras                      NaN          NaN          NaN          NaN
Hong Kong             42389.63000  42389.63000  43527.99400  43561.08000
Hungary               12239.89400  12239.89400  12778.28800  12652.45400
India                  1617.30900   1617.30900   1723.30100   1741.65200
Indonesia              3362.35700   3362.35700   3604.29100   3604.29100
Ireland               51350.74400  51350.74400  62562.27200  64782.30000
...                           ...          ...          ...          ...
Norway                74822.10600  74822.10600  74822.10600  70553.11400
Oman                          NaN          NaN          NaN          NaN
Pakistan               1449.97800   1449.97800   1449.97800   1440.96700
Peru                   6021.10400   6021.10400   6021.10400   6203.65600
Philippines            2858.14400   2858.14400   2858.14400   2926.60000
Poland                12495.33400  12495.33400  12495.33400  12361.26600
Portugal              19121.59200  19121.59200  19121.59200  19820.78300
Qatar                         NaN          NaN          NaN          NaN
Romania                       NaN          NaN          NaN          NaN
Russia                 9054.91400   9054.91400   9054.91400   8945.64400
Saudi Arabia          20812.58600  20812.58600  20812.58600  20364.99900
Singapore             52887.77000  52887.77000  52887.77000  52960.55800
Slovakia                      NaN          NaN          NaN          NaN
Slovenia                      NaN          NaN          NaN          NaN
South Africa           5694.57200   5694.57200   5694.57200   5302.04300
South Korea           27195.19700  27195.19700  27538.80600  27534.84100
Spain                 25864.72100  25864.72100  25864.72100  26565.15000
Sri Lanka                     NaN          NaN          NaN          NaN
Sweden                49866.26600  49866.26600  49866.26600  51124.76000
Switzerland           80675.30800  80675.30800  80675.30800  80345.62300
Taiwan                22287.56200  22287.56200  22287.56200  22496.99700
Thailand               5742.28200   5742.28200   5742.28200   5901.74700
Turkey                 9437.37200   9437.37200   9437.37200  10817.40600
UAE                           NaN          NaN          NaN          NaN
Ukraine                       NaN          NaN          NaN          NaN
United Arab Emirates          NaN          NaN          NaN          NaN
United States         55805.20400  55805.20400  55805.20400  57607.61300
Uruguay                       NaN          NaN          NaN          NaN
Venezuela                     NaN          NaN          NaN          NaN
Vietnam                       NaN          NaN          NaN          NaN


date                    2018-07-01    2019-01-01
name
Argentina             14466.552000  14462.920000
Australia             55707.275000  55692.730000
Austria               47289.997000  47347.437000
Azerbaijan             4140.650000   4140.650000
Bahrain               24028.728000  24325.794000
Belgium               43582.165000  43488.492000
Brazil                 9894.929000   9895.765000
Britain               39734.592000  39800.274000
Canada                45077.388000  45094.605000
Chile                 15070.413000  15067.724000
China                  8643.107000   8643.107000
Colombia               6272.818000   6379.606000
Costa Rica            11685.161000  11728.613000
Croatia               13138.288000  13271.376000
Czech Republic        20152.408000  20401.577000
Denmark               56444.103000  56630.596000