shortcut keys
press H for help /n

output pe double click for minimize output

press tab for easy found and type

In [4]:
# data types

type("Blah blah blah")

str

In [3]:
type (False)

bool

In [5]:
type(-100.2)

float

In [6]:
type(4232)

int

In [7]:
(25+75)*3/10

30.0

In [8]:
(25+75)*3//10

30

In [10]:
#list
lucky_numbers=[1,50,10,20]
type(lucky_numbers)

list

In [11]:
len(lucky_numbers)

4

In [12]:
lucky_numbers[2]

10

In [14]:
## http://pandas.pydata.org/pandas-docs/stable/reference/series.html

In [15]:
#function

In [18]:
def cnvert_to_farenheit(CelciusTemp):
    product = CelciusTemp * 1.8
    final = product + 32
    return final

In [19]:
cnvert_to_farenheit(35)

95.0

In [27]:
import pandas as pd
import numpy as np

In [32]:
ice_cream = ["Vanilla", "choclate","Mango", "Strawberry"]
pd.Series(ice_cream)

#Series S is capital

0       Vanilla
1      choclate
2         Mango
3    Strawberry
dtype: object

In [34]:
ice_cream.index

In [37]:
lottery = [4,8,15,16,23,42]
pd.Series(lottery)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

# In function #Vid36

In [1]:
3 in [1,2,3,4,5,6,7]

True

In [2]:
100 in [1,2,3,4,5,6,7]

False